<!DOCTYPE html>
<html>
<head>
    <title>Logos - база контактов предпринимателей</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}selectize/css/selectize.bootstrap3.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand">Logos</a>
    </div>
    <ul class="nav navbar-nav">
        {% if request.user.is_authenticated %}
            <li {% if main_active_link %} class="active" {% endif %}><a href="/">Список контактов</a></li>
            <li {% if add_active_link %} class="active" {% endif %}><a href="{% url 'add-user' %}">Добавить контакт</a></li>
        {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'personal' %}">
                {% if request.user.last_name and request.user.first_name %}
                    {{ request.user.last_name }} {{ request.user.first_name }}
                {% else %}
                    {{ request.user.username }}
                {% endif %}
            </a></li>
            <li>
                <a href="/logout/" title="Выйти"><span class="glyphicon glyphicon-remove"></span></a>
            </li>
        {% else %}
            <li><a href="{% url 'login' %}">Войти</a></li>
        {% endif %}
    </ul>
</nav>
{% block content %}{% endblock %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}selectize/js/standalone/selectize.js"></script>
<script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>

<script src="{{ STATIC_URL }}/js/custom.js"></script>
{% block extra_scripts %}{% endblock %}
</body>
</html>